
a:link {
  color: #eb7b22;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #eb7b22;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #eb7b22;
  background-color: transparent;
  
}

a:active {
  color: #eb7b22;
  background-color: transparent;
  
}
